body {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
}

input[type=text] {
	background-color: #f6f6f6;
	color: #0d0d0d;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	
}
